*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialised;
}

.container{
    width: 90%;
    margin: 0rem auto;
}

.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}