:root{
    --bg-color: #ecf0f1;
    --para-color: #2d3436;
    --background-color: #fff3f3;
    --para-font: .9rem;
    --box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    --btn-hover-color: #f44336;
}